.App {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.card{
  color:#1F457E;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  
  
  background-color:rgba(255, 255, 255, 0.693);
  border-radius: 6%;
  padding:3%;

}

.card h2{
  margin: 0;
}
.weather{
  display: flex;
  flex-wrap: wrap;
  text-align: left;

}
.weather div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather img{
  
  width: 100%;
}
.weather p:first-child{
  text-align: center;
}
.card button{
  border: none;
  background-color: #1F457E;
  color: white;
  border-radius: 6px;
  padding: 2%;
  cursor: pointer;
}


.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 